*/x64/Debug/*
*/bin/*
*/obj/*
/3LVL_UI/Console/bin
/3LVL_UI/Console/obj
/3LVL/Console/bin
/3LVL/API/obj
/3LVL/Console/obj
/3LVL/Data/bin
/3LVL/Data/obj
/3LVL/API/obj
/3LVL/Data/obj
/3LVL/Domain/bin
/3LVL/Domain/obj
/3LVL/Entities/bin
/3LVL/Entities/obj
/3LVL_UI/Data/bin
/3LVL_UI/Data/obj
/3LVL_UI/Domain/bin
/3LVL_UI/Domain/obj
/3LVL_UI/Entities/bin
/3LVL_UI/Entities/obj
/3LVL_UI/UI/bin
/3LVL_UI/UI/obj
